
 <button class="btn btn-primary" (click)="OnCreate()">Create</button>
 <pre>{{(this.NotifyMessageData|async)?.length}}筆推播資料</pre>
<table class="table table-responsive table-hover">
 <thead>
    <tr>
      <th>Template-Form</th>
      <th>標題</th>
      <th>發送時間</th>
        <th>Reactive-Form</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of (this.NotifyMessageData|async)" >
      <th scope="row">
        <a [routerLink]="['/NotifyMessages/Detail',item?.ID]"><span class="glyphicon glyphicon-zoom-in"></span></a>
        <a [routerLink]="['/NotifyMessages/Edit',item?.ID]"><span class="glyphicon glyphicon-pencil"></span></a>
      </th>
      <td>{{item?.title }}</td>
      <td>{{item?.SendTime }}</td>
       <th scope="row">
        <a [routerLink]="['/NotifyMessagesReactiveForms/Detail',item?.ID]"><span class="glyphicon glyphicon-zoom-in"></span></a>
        <a [routerLink]="['/NotifyMessagesReactiveForms/Edit',item?.ID]"><span class="glyphicon glyphicon-pencil"></span></a>
      </th>
    </tr>
  </tbody>
</table>
