<table class="table table-responsive table-hover">
 <thead>
    <tr>
      <th>#</th>
      <th>標題</th>
      <th>發送時間</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of (this.NotifyMessageData|async)" >
      <th scope="row">
        <a [routerLink]="['/NotifyMessages/Detail',item?.ID]"><span class="glyphicon glyphicon-zoom-in"></span></a>
        <a [routerLink]="['/NotifyMessages/Edit',item?.ID]"><span class="glyphicon glyphicon-pencil"></span></a>
      </th>
      <td>{{item?.title }}</td>
      <td>{{item?.SendTime }}</td>
    </tr>
  </tbody>
</table>
