<h1>NotifyPush</h1>
<div class="row">
  <div class="col-md-6">
    <pre>目前{{(Users|async)?.length}}位使用者註冊app</pre>
    <select class="form-control" (change)="onChange({ uid: u })" #u>
            <option value="">select user</option>
            <option *ngFor="let user of Users | async" value="{{ user.ID }}">
                {{ user.UserName }}
            </option>
        </select>
  </div>

  <div class="col-md-6">

    ToggleStatus：{{isOpen}}
    <zippy (isToggled)="onToggled($event)"></zippy>
  </div>


</div>
<div class="row">

  <div class="col-md-8">
    <div *ngIf=showForm>
     <!-- {{number3}}-->
      <forms [SelectedUser]="SelectedUser" [SelectedUserName]="SelectedUserName" [count]="number3" (countChange)="onCountChanged($event)"></forms>
    </div>
  </div>
</div>
